a {
  text-decoration: none;
}

.Weather {
  text-align: left;
  padding: 20px;
  padding-top: 0;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  border: 1px solid #d0d2d6;
  border-radius: 10px;
  background: #f3f4f6;
}
.enter-city {
  margin: 15px 10px;
  text-align: left;
}
.btn {
  margin: 0 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
#city-input {
  border: 0 solid #d0d2d6;
  background: #fcfcfc;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 6px;
}
.col-2 {
  padding: 0px;
}
.units {
  font-weight: normal;
  font-size: 20px;
  position: relative;
  top: -10px;
}
